*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}

.clock-wrapper{
    width: 420px;
    height: 140px;
    margin: 100px auto;
    border-radius: 10px;
    background: linear-gradient(#fa561b, #46ff46, #ef10ff);
    position: relative;
    animation: rot-color 1.8s linear infinite;
}

.display-clock{
    width: 400px;
    height: 120px;
    border-radius: 5px;
    background: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    line-height: 120px;
}

#clock{
     font-size: 3rem;
     font-weight: bold;
     background: linear-gradient(#fa561b, #46ff46, #ef10ff);
     font-family: sans-serif;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;   

}

@keyframes rot-color{
    100%{filter:hue-rotate(360deg)}
}

span{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    border-radius: 10px;
}

span:first-child{
    filter: blur(10px);
}

span:last-child{
    filter: blur(20px);
}